body {background-color: white;}

.header {
  padding: 10x;
  text-align: center;
  height: 80px;
  background: black;
  background-image: url("./assets/logoresize.gif");
  background-repeat: no-repeat;
  background-position: left;
  color: white;
  margin: 15px;
}

.themecard {
  background-color: white;

}

.profilepic {
  background-color: white;
  height: 250px;
  width: 75%;
  float: center;
}

/* Create two unequal columns that floats next to each other */
.appcolumn {
  padding: 10px;
  box-sizing: border-box;
  background-color: gray;
}

.left {
  float: left;
  width: 30%;
  margin-left: 15px;
}

.right {
  float: right;
  width: 65%;
  margin-right: 15px;
}

.songcard {
  width: 65%;
  height: 200px;
  float: right;
}

.songform {
  background-color: gray;
  float: left;
  height: 400px;
  width: 25%;
  margin-left: 15px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.searchform {
  text-align: center;
}
/* Clear floats after the columns */
/* .row:after {
  content: "";
  display: table;
  clear: both;
} */
