body {background-color: black;}

.header {
  padding: 10x;
  text-align: center;
  height: 80px;
  background: black;
  background-image: url("./assets/logoresize.gif");
  background-repeat: no-repeat;
  background-position: left;
  color: white;
  margin: 1px;
}

/* .themecard {
  background-color: white;

} */

/* .themeform {
  float: left;
} */

.column {
  float: left;
  padding: 10px;
  height: 550px;
}

.left {
  width: 25%;
}

#leftborder {
  border: 11px solid rgba(34, 73, 72, 0.59);
}


.right {
  width: 75%;
  background-image: url("./assets/homebackground.png");
}

* {
  box-sizing: border-box;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

.profilepic {
  background-color: white;
  height: 250px;
  width: 75%;
  float: center;
}

/* Create two unequal columns that floats next to each other */
.appcolumn {
  padding: 10px;
  /* box-sizing: border-box; */
  /* background-color: black; */
  /* color: white; */
}
/*
.left {
  float: left;
  width: 30%;
  margin-left: 15px;
  color: white;
} */

h1 {
  color: #1ED760;
  font: 200 35px/1.5 Helvetica, Verdana, sans-serif;
  text-align: center;
}

label {
  color: #1ED760;
  font: 200 17px/1.5 Helvetica, Verdana, sans-serif;
}
.button1 {
  border-radius: 8px;
  width: 90px;
  height: 30px;
  background-color: #1ED760;
}

.songformfield {
  border-radius: 40px;
}
/*
.right {
  float: right;
  width: 65%;
  margin-right: 15px;
  color: white;
} */

.themeform {
  color: white;
  text-align: center;
}

.songcard {
  margin-top: 10px;
  margin-left: 100px;
  width: 65%;
  height: 200px;
  color: white;
  background-color: rgba(128, 128, 136, 0.068);
  border-radius: 25px;
}

.cardinfo {
  padding-left: 50px;
  padding-top: 40px;
  float: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.videos {
  float: left;
  padding-left: 25%;
  padding-top: 1.5%;
  position: absolute;
}

.songform {
  font-family: 'Montserrat', sans-serif;
  padding-top: 15px;
  background-color: black;
  float: left;
  height: 550px;
  width: 25%;
  margin-left: 15px;
  text-align: center;
  color: #1ED760;
  font-size: 32px;
  font-weight: bolder;
  margin-top: 5%;
}

.songformitems {
  font-family: 'Montserrat', sans-serif;
  color: #1ED760;
  text-align: center;
  font-size: 15px;
}

.searchform {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  font: 200 30px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}

li:last-child {
  border: none;
}

li a {
  text-decoration: none;
  color: #1ED760;
  display: block;
  width: 200px;

  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}

li a:hover {
  font-size: 40px;
  background: rgba(34, 73, 72, 0.59);
}
.button {
  background-color: #1ED760;
  border-radius: 100px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  border-color: #1ED760;
  font-size: 14px;
}

.button:hover {
  border-color: white;
  background-color: white;
  color: #1ED760;
}

.playlisttitle {
  margin-top: 15px;
  height: 130px;
  background-color: rgba(128, 128, 136, 0.301);
  font-size: 16px;
  text-align: left;
  width: 65%;
  margin-left: 100px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: bold;
  border-radius: 25px;
}

.cdimage{
  padding-left: 45px;
  padding-top: 2px;
}

.playlistcontainer {
  margin-top: 1%;
  background: transparent;
  float: right;
  width: 71%;
  margin-right: 35px;

}
