body {background-color: black;}

.header {
  padding: 10x;
  text-align: center;
  height: 80px;
  background: #1abc9c;
  color: white;
  margin: 15px;
}

.profilepic {
  background-color: white;
  height: 250px;
  width: 75%;
  float: center;
}

/* Create two unequal columns that floats next to each other */
.appcolumn {
  padding: 10px;
  box-sizing: border-box;
  background-color: gray;
}

.left {
  float: left;
  width: 30%;
  margin-left: 15px;
}

.right {
  float: right;
  width: 65%;
  margin-right: 15px;
}

/* Clear floats after the columns */
/* .row:after {
  content: "";
  display: table;
  clear: both;
} */